body {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-image: url(./../assets/images/cryptobg2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.crypto-img {
  width: 3%;
  height: auto;
  line-break: normal;
}

hr.new1 {
  border-top: 3px solid rgb(0, 0, 0);
}

#converter {
  margin-bottom: 2%;
}

/* #number {
  margin-bottom: 3%;
} */
#cryptoConvert {
  margin-bottom: 3%;
}

.showConverter {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color: rgb(1, 1, 19);
  margin-bottom: 3%;
  box-shadow: 1px 5px 15px rgba(5, 87, 211, 0.438);
  margin-left: 25%;
  margin-right: 25%;
}



